.cards-section {
  color: #F4F5F3;
  width: 100%;
  height: 950px;
  background-color: #063238;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

.intro-left{
  width: 50%;
  margin-left: 5%;
  margin-top: 30px;
}

.intro-right {
  width: 50%;
  margin-right: 15%;
  margin-left: 10%;
  margin-top: 80px;
}

.intro-arrow {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  color: #F4F5F3;
}

.cards-section-button {
  color: #F4F5F3;
  background-color: #063238;;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 33px;
  padding: 9px 23px;
  width: 198px;
  height: 46px;
  border: 1px solid #F4F5F3;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}

.row {
  display: flex;
  gap: 20px;
}

.card {
  position: relative;
  width: 413px;
  height: 250px;
  background-color: #f4f5f3;
  color: #000000;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.card h3 {
  font-weight: 600;
  margin: 0 0;
}

.arrow-card {
  position: absolute;
  top: 10px;
  right:10px;
  width: 50px;
  height: 50px;
  transform: rotate(-39deg);
  border-radius: 33px;
  border: solid 1px #1C1C1C;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.card-content {
  position: relative;
  width: 413px;
  height: 250px;
  margin: 20px 20px 0 20px;
}

.card-text-hover {
  position: absolute;
  top: 9px;
  left: 0;
  width: 413px;
  height: 241px;
  background: linear-gradient(103.43deg, #121F1E 0.06%, #2E6965 50%, #6242FB 99.94%);
  color: #F4F5F3;
  border-radius: 25px;
  padding: 20px;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.6s ease, transform 0.6s ease, filter 0.4s ease-in-out;
  transform: translateY(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  filter: blur(3px);
}

.card-content:hover .card-text-hover {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

.card-text-default {
  position: relative;
  width: 413px;
  height: 250px;
  background-color: #f4f5f3;
  color: #000000;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.card-content:hover .arrow-card {
  opacity: 1;
  transform: rotate(141deg);
  border: solid 1px #F4F5F3;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  background-color: transparent;
}

.card-icon {
  width: 70px;
  height: 60px;
  margin-top: 20%;
  margin-bottom: 20px;
  color: #1C1C1C
}

.right-arrow-icon {
  width: 18px;
  height: 18px;
  background-color: #F4F5F3;
}

.bottom-arrow-icon {
  width: 18px;
  height: 18px;
  background-color: transparent;
  color: #F4F5F3;
}
