@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.dm-sans {
  font-family: 'DM Sans', sans-serif;
  font-weight: 100;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #063238;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f2;
  margin: 0;
  padding: 0;
}
