.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #063238;
  overflow: hidden;
}

.animation-container {
  position: absolute;
  top: 322px;
  left: 626px;
  width: 413px;
  height: 240px;
  overflow: hidden;
  transition: all 1s ease;
  z-index: 1;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.step-1 .animation-container {
  width: 413px;
  height: 240px;
  position: relative;
}

.step-1 .hero-text-left,
.step-1 .hero-text-right {
  opacity: 0;
  transition: opacity 1s ease;
}

.hero-text-left,
.hero-text-right {
  position: absolute;
  width: 145px;
  height: 55px;
  color: #F4F5F3;
  opacity: 0;
  transition: opacity 1s ease;
  text-align: center;
}

.hero-text-left {
  top: 425px;
  left: 187px;
}

.hero-text-right {
  top: 397px;
  right: 187px;
  width: 400px;
  height: auto;
}

.step-2 .hero-text-left,
.step-2 .hero-text-right {
  opacity: 1;
}

.step-3 .animation-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.step-3 .hero-image {
  transform: scale(1);
}

.step-3 .hero-text-left,
.step-3 .hero-text-right {
  opacity: 1;
  z-index: 2;
}
