.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #063238;
  overflow: hidden;
}

.animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 314px;
  height: 240px;
  overflow: hidden;
  transition: all 1s ease;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.step-1 .animation-container {
  width: 314px;
  height: 240px;
}

.step-1 .hero-text-left,
.step-1 .hero-text-right {
  opacity: 0;
  transition: opacity 1s ease;
}

.hero-text-left,
.hero-text-right {
  position: absolute;
  width: 145px;
  height: 55px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  text-align: center;
}

.hero-text-left {
  top: 425px;
  left: 187px;
}

.hero-text-right {
  top: 397px;
  right: 187px;
  width: 400px;
  height: auto;
}

.step-2 .hero-text-left,
.step-2 .hero-text-right {
  opacity: 1;
  color: #F4F5F3;
}

.step-3 .animation-container {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.step-3 .hero-image {
  transform: scale(1);
}

.step-3 .hero-text-left,
.step-3 .hero-text-right {
  opacity: 1;
  z-index: 2;
}

.hero-text-right .mobile {
  display: none;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .animation-container {
    width: 300px;
    height: 220px;
    transition: all 1s ease;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2s ease;
  }

  .hero-text-right {
    top: 350px;
    right: 80px;
    width: 400px;
    height: auto;
  }

  .hero-text-left {
    top: 380px;
    left: 150px;
  }

  .step-2 .animation-container {
    width: 300px;
    height: 220px;
  }

  .step-3 .animation-container {
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    min-height: 100vh;
    background-image: url('../assets/V7_hero_mobile.png');
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .animation-container {
    display: none;
  }

  .hero-text-left {
    position: relative;
    opacity: 1;
    top: 25%;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;
  }

  .hero-text-right{
    position: relative;
    opacity: 1;
    top: 55%;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;
  }

  .hero-text-right .desktop {
    display: none;
  }

  .hero-text-right .mobile {
    display: block;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .hero {
    min-height: 100vh;
    background-image: url('../assets/V7_hero_mobile.png');
    background-size: 160%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .animation-container {
    display: none;
  }

  .hero-text-left {
    position: relative;
    opacity: 1;
    top: 15%;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;
    font-size: 36px;
  }

  .hero-text-right {
    position: relative;
    opacity: 1;
    top: 50%;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;
    font-size: 36px;
  }

  .hero-text-right .desktop {
    display: none;
  }

  .hero-text-right .mobile {
    display: block;
  }
}
