@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 20.7px;
  letter-spacing: 0px;
}

.cabin-font {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  font-family: Cabin;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  color: #F4F5F3;
}

body, html, #root {
  background-color: #F4F5F3;
  margin: 0;
  padding: 0;
  height: 100%;
}


.logo {
  width: 72px;
  height: 57px;
  top: 70px;
  left: 110px;
  position: fixed;
  z-index: 10;
  cursor: pointer;
}

.menu-burger {
  top: 60px;
  right: 110px;
  position: fixed;
  z-index: 10;
}

.burger {
  color: #2E6965;
}

.menu-button {
  width: 54px;
  height: 54px;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 50%;
}

.burger {
  height: 25px;
}


h2 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -4px;
  line-height: 100%;
  vertical-align: bottom;
}

strong {
  font-weight: 700;
}

h3 {
font-weight: 400;
font-size: 35px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: bottom;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .logo {
    width: 72px;
    height: 57px;
    top: 50px;
    left: 50px;
  }

  .menu-burger {
    top: 50px;
    right: 20px;
    position: fixed;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 72px;
    height: 57px;
    top: 50px;
    left: 50px;
  }

  .menu-burger {
    top: 50px;
    right: 20px;
    position: fixed;
  }
}


@media (max-width: 767px) and (min-width: 320px){
  .logo {
    width: 58.11px;
    height: 46px;
    top: 17px;
    left: 20px;
    position: fixed;
  }

  .menu-burger {
    top: 17px;
    right: 20px;
    position: fixed;
  }
}
